*{
    padding: 0;
    margin: 0;
    
    
}
body, html {
    background-image: url("../image/fundo01.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
    background-position: center; /* Centraliza a imagem */
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
   
}

div#corpoform{
    width: 420px;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
form{
   position: fixed;
   padding: 0 20px;
}
input{
    display: block;
    width: 350px;
    height: 55px;
    margin: 10px;   
    border: 1px solid black;
    border-radius: 35px;
    opacity: 0.9;
    outline: none;
    padding: 0 10px;
    
  
}
input:focus {
    outline: none; /* remove o contorno padrão do navegador */
    border: 2px solid #4CAF50; /* borda verde personalizada */
    box-shadow: 0 0 5px #4CAF50; /* brilho suave */
    background-color: #f0fff0; /* leve alteração no fundo */
    
}
input[type=submit]{
    background-color: chocolate;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    
  
}
input[type=submit]:hover{
    background-color: #7b3d10;
    color: whitesmoke;
  
}
a{
    display: block;
    color: royalblue;
    
    
}

a:hover{
    color: chocolate
}

 h1{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 20px;
    
} 
p{
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
}
    
    
    